<script type ="text/javascript">
document.title =   <%="\"#{@table_name}: #{@short_name}\""%>
</script>

<div class ="content_class" style="width: 100%">
  <div class ="pad_class">

    <h1><%="#{@short_name}"%>  </h1>
    <%= render(:partial => "shared/edit_object", :object => @edit_object ) %>
  </div>
</div>