body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     background-color: #fff; 
}


td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   10px;
  line-height: 12px;
}
option {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   8px;
  line-height: 12px;
}
select {
   font-family: verdana, arial, helvetica, sans-serif;
  font-size:   8px;
        line-height: 12px;
}

input[type="button"]{
      font-size:   9px;
      line-height: 12px;

}

ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}


h1 {
	text-transform: uppercase;
     font-size: 20px;
}
h2 {
    font-size: 17px;
}
h3 {
    font-size: 14px;
}
h5 {
    font-size: 12px;
}

p {
	margin-top: 0;
	margin-bottom: 6px;
    font-size: 10px;
}

a {
    color: #000;
    
	text-decoration: none;
}
.alabel {
     color: #000;

	text-decoration: none;

}

th {
     font-size:   13px;

}

a img {
	border: 0;
}

label {
    font-size: 10px;
}

.label {
	background-color: #663300;
	color: #FFFFFF;

}

 .column-header {
    background: #999999

}
 .row-even {
    background: #CCCCCC

}
 .row-odd {
    background: #EEEEEE

}
.edit_column {
    background: #FFFFFF

}
.edit_text {
    font-size: 10px;

    }

.select-cell, .help-cell,.toadd-cell, .exam-cell,.compulsory-cell, .dummy-cell,.update-cell, .create-cell,.create-email-cell,
.suggest-cell, .copy-cell, .delete-cell,.send-cell, .add-cell, .assign-cell, .remove-cell, .supplementary-cell, .willing-cell {
     background: #DDDDDD;

}
supplementary-cell {
    font-size: 10px;
}
.remove_column {
    background: #AAAAAA;
    border-left: 1px solid;
    border-color: #000000;    
}
.remove_header {
    background: #AAAAAA;
    border-left: 1px solid;
    border-color: #000000;
}
.do_not_remove_column {
   background: #fff;
   border-left: 1px solid;
    border-color: #fff;
}
span.remove_column a {
    color: #CCCCCC;

}

.remove_format_field{
    background: #AAAAAA;
    border-left: 1px solid;
    border-color: #000000;
    float:right;
    

}
span.remove_format_field a {
    color: #CCCCCC;
}


.add_format_field{
    background: #AAAAAA;
    border: 1px solid #000;
    float:left;
    
}
span.add_format_field a {
    color: #CCCCCC;
}

.remove_filter_element_field{
    background: #AAAAAA;
    padding-top: 2px;
    
    border-left: 1px solid #000;
    border-right: 1px solid #000;


}
.remove_filter_element_field a{
    
    padding-left: 1px;
    padding-right: 1px;
}

.add_external_filter_element{
    background: #AAAAAA;
    border: 1px solid #000;
    padding-left: 1px;
    padding-right: 1px;
}


span.add_external_filter_element a {
    color: #000;
}

#search_results a {
    color: #000000;

}
.hidden_div {
 position:absolute;
 top: 0px;
 left: -1000px;

}
.shown_div {
    position: static;
    
}


#search_results a:hover {
    color: #FFFFFE;
    background:  #000000;

}

#menu, #menu ul,
#person_menu, #person_menu ul ,
#course_menu, #course_menu ul,
#programme_menu, #programme_menu ul,
#schedule_menu, #schedule_menu ul,
#template_menu, #template_menu ul,
#option_menu, #option_menu ul {
	list-style: none;
	padding: 0;
	margin: 0;

	}
#menu a, #person_menu a,
#course_menu a,
#programme_menu a,
#schedule_menu a,
#template_menu a,
#option_menu a
{
    position:relative;
	display: block;
	text-indent: 10px;
	left: 0px;
	font-weight: bolder;
}
#person_menu a, #course_menu a,
#programme_menu a, #schedule_menu a,
#template_menu a, #option_menu a
{
	color:#000000;
}
#menu a
{
	color:#FFFFFF;
}

#menu li , #person_menu li, #course_menu li, #programme_menu li, #schedule_menu li,
#template_menu li, #option_menu li{
display: inline;
float:left;
width: 150px;
}

#menu li ul , #person_menu li ul, #course_menu li ul, #programme_menu li ul, #schedule_menu li ul,
#template_menu li ul, #option_menu li ul{
	position: absolute;
	width: 150px;
	left: -999em;
}
body#people #menu li ul#people2,
body#attendees #menu li ul#lectures2,
body#tutorials #menu li ul#tutorials2,
body#agatha_emails #menu li ul#emails2,
body#options #menu li ul#options2,
body#courses #menu li ul#courses2,
body#programmes #menu li ul#programmes2,
body#schedules #menu li ul#schedules2,
body#email #menu li ul#email2,
body#study #person_menu li ul#study2,  body#teaching #person_menu li ul#teaching2,
body#personal_email #person_menu li ul#personal_email2,
body#course_description #course_menu li ul#course_description2,
body#course_teaching #course_menu li ul#course_teaching2,
body#course_students #course_menu li ul#course_students2,
body#schedule_planned #schedule_menu li ul#schedule_planned2,
body#schedule_students #schedule_menu li ul#schedule_students2,
body#schedule_restrictions #schedule_menu li ul#schedule_restrictions2,
body#schedule_emails #schedule_menu li ul#schedule_emails2,
body#template_email #template_menu li ul#template_email2,
body#options #option_menu li ul#option_menu2
{
    position:relative;
	left: 0px;
}
#menu li a:hover,  #menu li ul li a:hover,
#person_menu li a:hover, #person_menu li ul li a:hover,
#course_menu li a:hover, #course_menu li ul li a:hover,
#programme_menu li a:hover, #programme_menu li ul li a:hover,
#schedule_menu li a:hover, #schedule_menu li ul li a:hover,
#template_menu li a:hover, #template_menu li ul li a:hover,
#option_menu li a:hover, #option_menu li ul li a:hover{
	background-color:#33CC00;
	color:#FFFFFF;
	font-weight: bolder;
}

#person_menu li ul li a {
background-color:#FFCC00;
}
#menu li ul li a {
background-color:#333344;
}
#course_menu li ul li a {
background-color:#546CDE;
}
#schedule_menu li ul li a {
background-color:#546CDE;
}
#template_menu li ul li a {
background-color:#C51B3D
}
#option_menu li ul li a {
background-color:#C51B3D
}

body#people #menu li ul#people2 li a,
body#attendees #menu li ul#lectures2 li a,
body#tutorials #menu li ul#tutorials2 li a,
body#agatha_emails #menu li ul#emails2 li a,
body#options #menu li ul#options2 li a,
body#programmes #menu li ul#programmes2 li a,
body#schedules #menu li ul#schedules2 li a, body#email #menu li ul#email2 li a,
body#study #person_menu li ul#study2 li a,  body#teaching #person_menu li ul#teaching2 li a,
body#personal_email #person_menu li ul#personal_email2 li a,
body#course_description #course_menu li ul#course_description2 li a,
body#course_teaching #course_menu li ul#course_teaching2 li a,
body#course_students #course_menu li ul#course_students2 li a,
body#schedule_planned #schedule_menu li ul#schedule_planned2 li a,
body#schedule_students #schedule_menu li ul#schedule_students2 li a,
body#schedule_restrictions #schedule_menu li ul#schedule_restrictions2 li a,
body#schedule_emails #schedule_menu li ul#schedule_emails2 li a,
body#template_email #template_menu li ul#template_email2 li a
#body#options #menu li ul#menu2 li a{
text-indent: 10px;
width: 150px;
font-size:smaller;
font-weight:normal;
}
body#template_email #template_menu li ul#template_email2 li a  {
color:#FFFFFF;
}







body#people ul#menu li a.people,
body#institutions ul#menu li a.institutions,
body#groups ul#menu li a.groups,
body#courses ul#menu li a.courses,
body#lectures ul#menu li a.lectures,
body#willing_lecturers ul#menu li a.willing_lecturers,
body#attendees ul#menu li a.attendees,
body#tutorials ul#menu li a.tutorials,
body#tutorial_schedules ul#menu li a.tutorial_schedules,
body#willing_tutors ul#menu li a.willing_tutors,
body#maximum_tutorials ul#menu li a.maximum_tutorials,
body#users ul#menu li a.users,
body#options ul#menu li a.options,
body#programmes ul#menu li a.programmes,
body#agatha_emails ul#menu li a.agatha_emails,
body#email_templates ul#menu li a.email_templates,
body#details ul#person_menu li a.details,
body#teaching ul#person_menu li a.teaching,
body#study ul#person_menu li a.study,
body#personal_email ul#person_menu li a.personal_email,
body#course_description ul#course_menu li a.course_description,
body#course_teaching ul#course_menu li a.course_teaching,
body#course_students ul#course_menu li a.course_students,
body#programme_description ul#programme_menu li a.programme_description,
body#programme_students ul#programme_menu li a.programme_students,
body#programme_courses ul#programme_menu li a.programme_courses,
body#schedule_planned ul#schedule_menu li a.schedule_planned,
body#schedule_students ul#schedule_menu li a.schedule_students,
body#schedule_restrictions ul#schedule_menu li a.schedule_restrictions,
body#schedule_emails ul#schedule_menu li a.schedule_emails,
body#template_email ul#template_menu li a.template_email,
body#options ul#menu li a.menu
 {
	background-color:#FF0000;
	color:#FFFFFF;
	font-weight: bolder;
 }




