<% row =  search_results_row.row %>
<% search_controller = search_results_row.search_controller %>
<% table_name = search_controller.table_name %>
<% all_display_indices = Array.new(search_controller.fixed_indices) %>
<% all_display_indices.concat(search_controller.current_filter_indices)  %>

<% for i in all_display_indices -%> 
    <% filter = search_controller.extended_filters[i].filter_object %>
    <% field_name = "#{filter.tag}" %>
    <% class_id_name = "#{field_name}_#{table_name}" %>
    <td class =<%="'#{class_id_name}'"%> >
    <% begin %>
          <%= eval(filter.eval_str) %>
    <% rescue Exception => exc %>
          <%=  "" %>
    <% end %>
    </td>
<% end -%>

